.box {
    border: 2px solid black;
    background-color: #ffffff;
    padding: 25px;
    width: 140px;
    height: 140px;
    border-radius: 16px;
    box-shadow: 0 4px 18px rgba(0,0,0,.12);
    text-align: center;
}
